@model IEnumerable<PrPr_Project.WEB.Models.NewsItemViewModel>

@{
    ViewBag.Title = "Новости";
}

@* <div class="container"> *@
@*     <div class="row news_block"> *@
@*         <div class="col-lg-4 sources_holder"> *@
@*             <div class="sources_sign_block">Источники</div> *@
@*             <div class="checkbox_holder"> *@
@*                 <div class="custom-control custom-checkbox"> *@
@*                     <input type="checkbox" class="custom-control-input" id="customCheck1"> *@
@*                     <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="checkbox_holder"> *@
@*                 <div class="custom-control custom-checkbox"> *@
@*                     <input type="checkbox" class="custom-control-input" id="customCheck2"> *@
@*                     <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="checkbox_holder"> *@
@*                 <div class="custom-control custom-checkbox "> *@
@*                     <input type="checkbox" class="custom-control-input" id="customCheck3"> *@
@*                     <label class="custom-control-label" for="customCheck3">Check this custom checkbox</label> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="col-lg-8 news_holder"> *@
@* *@
@*             @#1#Scripts.Render("~/Journalist")#1# *@
@*             @foreach (var item in Model) *@
@*             { *@
@*                 <div class="news_item"> *@
@*                     <div class="news_item_content"> *@
@*                         <div class="row news_item_content_title_holder"> *@
@*                             <div class="col-lg-9 news_item_content_title"> *@
@*                                 <a href="/Home/Preview/@item.Id">@item.Name</a> *@
@*                             </div> *@
@*                             <div class="col-lg-3 news_item_content_source"> *@
@*                                 <a href="#">@item.Author</a> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div class="news_item_content_description"> *@
@*                             @{ var c = new MvcHtmlString(item.Content); } @c *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             } *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="main-article">
      <h1>Новости</h1>
      <hr class="line-after-article" />
    </div>

    <div class="container">
      <div class="row news_block">
        <div class="col-lg-4 sources_holder">
          <div class="sources_sign_block">Источники</div>
          <div class="checkbox_holder">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Check this custom checkbox</label
              >
            </div>
          </div>
          <div class="checkbox_holder">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck2"
              />
              <label class="custom-control-label" for="customCheck2"
                >Check this custom checkbox</label
              >
            </div>
          </div>
          <div class="checkbox_holder">
            <div class="custom-control custom-checkbox ">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck3"
              />
              <label class="custom-control-label" for="customCheck3"
                >Check this custom checkbox</label
              >
            </div>
          </div>
        </div>
        <div class="col-lg-8 news_holder">
          
            @Scripts.Render("~/Journalist")
                        @foreach (var item in Model) 
                         {

                           <div class="news_item">
                             <div class="news_item_content">
                               <div class="row news_item_content_title_holder">
                                 <div class="col-lg-2 block_news"><p>Новости</p></div>
                                 <div class="col-lg-10 news_item_content_source">
                                   <p>@item.Author</p>
                                 </div>
                               </div>
                               <div class="news_item_content_title">
                                 <a href="/Home/Preview/@item.Id">@item.Name</a> 
                               </div>
                               <div class="news_item_content_description">
                                 @{ var c = new MvcHtmlString(item.Content); } @c 
                               </div>
                             </div>
                           </div>
                         } 
          
        </div>
      </div>
    
  </div>