@model PrPr_Project.WEB.Models.NewsItemViewModel

@{
    ViewBag.Title = "Preview";
}

@* <div class="container news_item_holder"> *@
@*     <div class="row"> *@
@*         <div class="col-lg-4"> *@
@*             <div class="news_item news_page"> *@
@*                 <div class="news_item_content"> *@
@*                     <div class="row news_item_content_title_holder"> *@
@*                         <div class="col-lg-9 news_item_content_title news_page_item_title"> *@
@*                             <a href="#">Проспект им. Жукова, минирования и "фанаты ДНР". Возможен ли реванш "русской весны" в Харькове?</a> *@
@*                         </div> *@
@*                         <div class="col-lg-3 news_item_content_source"> *@
@*                             <a href="#">Профком</a> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="news_item_content_description"> *@
@*                         Полицейскому, пострадавшему во время стрельбы на проспекте Победы, собирают деньги на операцию. *@
@* *@
@*                         Командиру штурмового взвода батальона полиции особого назначения Евгению Лободе сделали уже третью операцию. Об этом сообщили в пресс-службе Нацполиции в Харьковской области. *@
@* *@
@*                         Для спасения его жизни необходимы значительные деньги, отмечают в полиции. *@
@* *@
@*                         Напомним, что 6 мая в Харькове возле дома по проспекту Победы 41-летний водитель автомобиля «Ford Focus» 8 раз выстрелил из пистолета в 35-летнего майора полиции. Причиной стал конфликт из-за неправильной парковки водителя. Во время ссоры полицейский повредил боковое стекло авто. В результате он получил ранения головы и грудной клетки. *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="news_item news_page"> *@
@*                 <div class="news_item_content"> *@
@*                     <div class="row news_item_content_title_holder"> *@
@*                         <div class="col-lg-9 news_item_content_title news_page_item_title"> *@
@*                             <a href="#">Проспект им. Жукова, минирования и "фанаты ДНР". Возможен ли реванш "русской весны" в Харькове?</a> *@
@*                         </div> *@
@*                         <div class="col-lg-3 news_item_content_source"> *@
@*                             <a href="#">Профком</a> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="news_item_content_description"> *@
@*                         Полицейскому, пострадавшему во время стрельбы на проспекте Победы, собирают деньги на операцию. *@
@* *@
@*                         Командиру штурмового взвода батальона полиции особого назначения Евгению Лободе сделали уже третью операцию. Об этом сообщили в пресс-службе Нацполиции в Харьковской области. *@
@* *@
@*                         Для спасения его жизни необходимы значительные деньги, отмечают в полиции. *@
@* *@
@*                         Напомним, что 6 мая в Харькове возле дома по проспекту Победы 41-летний водитель автомобиля «Ford Focus» 8 раз выстрелил из пистолета в 35-летнего майора полиции. Причиной стал конфликт из-за неправильной парковки водителя. Во время ссоры полицейский повредил боковое стекло авто. В результате он получил ранения головы и грудной клетки. *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="col-lg-8 news_preview_block"> *@
@* *@
@*             <div class="news_page_title"> *@
@*                 <h1>@Model.Name</h1> *@
@*                 <a href="#">@Model.Author</a> *@
@*             </div> *@
@* *@
@* *@
@* *@
@*             <div class="news_page_description"> *@
@*                 @ViewBag.Content *@
@*             </div> *@
@* *@
@*             <div class="news_item_image_holder"> *@
@*                 <img src="~/Content/Images/@Model.Img" alt="" class="img"> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@


<div class="container news_item_holder">
    <div class="row">
        <div class="col-lg-4">
            <div class="news_item news_page">
                <div class="news_item_content">
                    <div class="row news_item_content_title_holder">
                        <div
                            class="col-lg-9 news_item_content_title news_page_item_title">
                            <a href="#">
                                Проспект им. Жукова, минирования и "фанаты ДНР". Возможен
                                ли реванш "русской весны" в Харькове?
                            </a
                            >
                        </div>
                        <div class="col-lg-3 news_item_content_source">
                            <p>Профком</p>
                        </div>
                    </div>
                    <div class="news_item_content_description">
                        Полицейскому, пострадавшему во время стрельбы на проспекте
                        Победы, собирают деньги на операцию. Командиру штурмового взвода
                        батальона полиции особого назначения Евгению Лободе сделали уже
                        третью операцию. Об этом сообщили в пресс-службе Нацполиции в
                        Харьковской области. Для спасения его жизни необходимы
                        значительные деньги, отмечают в полиции. Напомним, что 6 мая в
                        Харькове возле дома по проспекту Победы 41-летний водитель
                        автомобиля «Ford Focus» 8 раз выстрелил из пистолета в
                        35-летнего майора полиции. Причиной стал конфликт из-за
                        неправильной парковки водителя. Во время ссоры полицейский
                        повредил боковое стекло авто. В результате он получил ранения
                        головы и грудной клетки.
                    </div>
                </div>
            </div>

            <div class="news_item news_page">
                <div class="news_item_content">
                    <div class="row news_item_content_title_holder">
                        <div
                            class="col-lg-9 news_item_content_title news_page_item_title">
                            <a href="#">
                                Проспект им. Жукова, минирования и "фанаты ДНР". Возможен
                                ли реванш "русской весны" в Харькове?
                            </a
                            >
                        </div>
                        <div class="col-lg-3 news_item_content_source">
                            <p>Профком</p>
                        </div>
                    </div>
                    <div class="news_item_content_description">
                        Полицейскому, пострадавшему во время стрельбы на проспекте
                        Победы, собирают деньги на операцию. Командиру штурмового взвода
                        батальона полиции особого назначения Евгению Лободе сделали уже
                        третью операцию. Об этом сообщили в пресс-службе Нацполиции в
                        Харьковской области. Для спасения его жизни необходимы
                        значительные деньги, отмечают в полиции. Напомним, что 6 мая в
                        Харькове возле дома по проспекту Победы 41-летний водитель
                        автомобиля «Ford Focus» 8 раз выстрелил из пистолета в
                        35-летнего майора полиции. Причиной стал конфликт из-за
                        неправильной парковки водителя. Во время ссоры полицейский
                        повредил боковое стекло авто. В результате он получил ранения
                        головы и грудной клетки.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="news_page_title">
                <h1>
                    @Model.Name
                </h1>
                <p>@Model.Author</p>
            </div>

            <div class="news_item_image_holder">
                <img src="~/Content/Images/@Model.Img" alt="" class="img">
            </div>

            <div class="news_page_description">
                @ViewBag.Content
            </div>
        </div>
    </div>
</div>