@*@using PrPr_Project.WEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Используйте локальную учетную запись для входа.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Выполнить вход" class="btn btn-default" />
            </div>
        </div>
        <p>
            @Html.ActionLink("Регистрация нового пользователя", "Register")
        </p>

    }
</section>
    </div>
<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@






@using PrPr_Project.WEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
    Layout = null;
}

@Styles.Render("~/Content/css")

<div class="container">
    <div class="row justify-content-center login_form_holder">
        <div class="col-lg-6 login_form_holder_content">
            <h1 class="login_title">Войти</h1>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required name="Password">
                </div>

                <button type="submit" class="btn btn-primary w-100">Войти</button>
            }

        </div>
    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


